version: '3.6'

services:
  mongo:
    image: mongo:4.2

  redis:
    image: redis:alpine

  director:
    image: agoldis/sorry-cypress-director:latest
    environment:
      DASHBOARD_URL: http://localhost:8080
      MONGODB_URI: 'mongodb://mongo:27017'
      MONGODB_DATABASE: 'sorry-cypress'
      EXECUTION_DRIVER: '../execution/mongo/driver'
      SCREENSHOTS_DRIVER: '../screenshots/cos.driver'
      COS_ACCESSKEY: 'cos_hmac_access_key'
      COS_SECRETKEY: 'cos_hmac_secret_key'
      COS_REGION: 'cos_region'
      COS_BUCKET: 'cos_bucket_name'
      REDIS_URI: 'redis://redis:6379'
    ports:
      - 1234:1234
    depends_on:
      - mongo
      - redis

  api:
    image: agoldis/sorry-cypress-api:latest
    environment:
      MONGODB_URI: 'mongodb://mongo:27017'
      MONGODB_DATABASE: 'sorry-cypress'
    ports:
      - 4000:4000
    depends_on:
      - mongo

  dashboard:
    image: agoldis/sorry-cypress-dashboard:latest
    environment:
      GRAPHQL_SCHEMA_URL: http://localhost:4000
      GRAPHQL_CLIENT_CREDENTIALS: ''
      PORT: 8080
      CI_URL: ''
    ports:
      - 8080:8080
    depends_on:
      - mongo
      - api
