.t-element {
  position: relative;
  border: 1px solid black;
  background-color: seashell;
  padding: 12px;
  margin: 12px;
}

.t-state {
  background-color: grey;
  width: 6px;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
}

.t-state--ok {
  background-color: green;
}

.t-state--pending {
  background-color: orange;
}

.t-state--ko {
  background-color: red;
}

.t-tag {
  border-radius: 6px;
  color: white;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  height: 22px;
  line-height: 8px;
  margin: 0 12px;
  padding: 6px;
}

.t-tag--master {
  background-color: darkslateblue;
}

.t-tag--release {
  background-color: tomato;
}

.t-tag--pr {
  background-color: cornflowerblue;
}

.t-is-front-img {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.t-title {
  display: flex;
  align-items: center;
}
